#mainBgImage {
  position: absolute;
  background-image: url("/PMD-Brisella/img/imagenFundal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom center;
  background-attachment: scroll;
  width: 100%;
  height: 156%;
  z-index: -1;
  top: -20%;
}

.mainTextArea {
  margin: 0px auto;
  background-color: #9898986a;
  z-index: -1;
  width: 100%;
  height: 100%;
}