#mainBgImage {
  position: absolute;
  background-image: url("/PMD-Brisella/img/imagenFundal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size:cover;
  width: 100%;
  height: 1750px;
  z-index: -1;
  top: -700px;
}

.mediumText {
  position: relative;
  font-size: 200%;
  text-wrap-mode: wrap;
  text-align: center;
  width: 100%;
  height: 90dvh;
}

.miniText {
  position: relative;
  font-size: 200%;
  text-wrap-mode: wrap;
  text-align: center;
  width: 100%;
  height: 15dvh;
}

