* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  text-wrap-mode: nowrap;
}

:root {
  --g-width: 100%;
  --g-side-separation: 0%;
  --g-iconsize: 32px;
  --g-easeTime: 0.1s;
  
  --c-barsColor: #bebebe;
  --c-sidelines: #e6e6e6c9;
  --c-crimson: #ff0026;
}

.centerd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  background-image: url("/PMD-Brisella/img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  font-family: 'Lora', serif;

  -webkit-user-drag: none;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Standard */
}

header {
  max-width: var(--g-width);
  height: 70px;
  width: 100%;
  padding: 0 var(--g-side-separation);
  background-color: var(--c-barsColor);
  box-shadow: inset 20px 50px 1000px #ffd3d33a;
  z-index: 1;
  display: block;
  position:fixed;
  top: 0px;
}

main {
  min-height: 1000px;
  max-width: var(--content-width);
  width: 100%;
  /* background-color: red; */
  padding: 0 var(--g-side-separation);
  margin-top: 70px;
}

#navbar {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.mainBody {
  min-height: 1000px;
  padding: 16px 10px;
  box-shadow: inset 20px -50px 1000px #ffefef;
}

#navbar #navName {
  padding: 16px 10px;
  font-size: 25px;
}

#navbar #navName a{
  color: white;
  letter-spacing: 5px;
}

#navbar .navPages {
  display: flex;
  justify-content: center;
  padding: 0px 3rem;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
  width: 100%;
  gap: 5rem;
}

#navbar .navPages a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  letter-spacing: 2px;
  transition: var(--g-easeTime) ease-in-out;
}

#navbar .navPages a:hover {
  color: var(--c-crimson);
}

#navbar .navPages a:nth-child(3) {
  color: #ffd3d3;
}

#navbar .navPages a:nth-child(3):hover {
  color: var(--c-crimson);
}

#navbar .navOpts {
  padding: 10px;
}

#navbar img {
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

#navbar .navOpts a {
  display: inline-block;
  width: var(--g-iconsize);
  height: var(--g-iconsize);
  transition: var(--g-easeTime) ease-in-out;
}

#navbar .navOpts a:hover {
  background-color: rgba(153, 153, 153, 0.668);
}

.burgerMenu {
  padding: 64px 8px;
  position: fixed;
  left: -226px;
  top: 0px;
  height: 100%;

  display: none;

  flex-direction: column;
  align-items: center;
  box-sizing: inherit;

  background-color: var(--c-barsColor);
  box-shadow: inset 20px -50px 1000px #ffd3d33a;
  z-index: -1;

  transition: 0.4s;
}

.burgerMenu .navOpts {
  display: flex;
  justify-content: center;
  width: 100%;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a0a0a06a;
}

.burgerMenu .navOpts a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: var(--g-easeTime) ease-in-out;
}

.burgerMenu .navOpts a:hover {
  background-color: rgba(132, 132, 132, 0.373);
}

.burgerMenu img {
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

.burgerMenu .navPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  font-size: 20px;
}

.burgerMenu .navPages a {
  color: white;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  transition: var(--g-easeTime) ease-in-out;
}

.burgerMenu .navPages a:hover {
  background-color: rgba(132, 132, 132, 0.373);
}

.burgerIcon {
  cursor: pointer;
  padding: 8px;
  margin: 0px;
  position:fixed;
  top: 15px;
  left: 17px;
  z-index: 3;

  /* background-color: #d7d7d785; */
  border-radius: 3px;
}

.burgerIcon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px 0;
  transition: 0.4s;
}

.burgerMenu.active {
  left: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burgerMenu.active .burgerIcon span:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

app-tooltip {
  width: 100%;
  height: 100%;
}

/* TODO: Responsive */

footer {
  max-width: var(--g-width);
  width: 100%;
  padding: 0 var(--g-side-separation);
  background-color: var(--c-barsColor);
  box-shadow: inset 20px -50px 1000px #ffd3d33a;
  z-index: 1;
}

#footbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.section  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0px 0.5%;
  padding: 10px;
  gap: 1rem;
  width: 100%;

  border-right: 1px;
  border-right-style: solid;
  border-right-color: var(--c-sidelines);

  border-left: 1px;
  border-left-style: solid;
  border-left-color: var(--c-sidelines);

  border-top: 0px;
  border-bottom: 0px;
}

#footbar > *:nth-child(5) {
  border-style: none;
  margin-left: 10%;
  width:  150px;
  height: 150px;
}

#footbar p {
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 0px 10px;
  border-bottom: 0.8px;
  border-bottom-style: solid;
  border-bottom-color: var(--c-sidelines);
}

#footbar img {
  position:relative;
  display:unset;
  z-index: 5;
  bottom: 0px;
  right: 0px;
  width: 220px;
  height: 220px;
}

.section a {
  color: white;
  transition: var(--g-easeTime) ease-in-out;
}

.section a:hover {
  color: var(--c-crimson);
}

.white {
  color: white;
}

.black {
  color: black;
}

.gold {
  color: gold;
}

.velvet {
  color: rgb(243, 12, 47);
}

.rouge {
  color: #ffdddd;
}

@media screen and (max-width: 960px) {
  .burgerMenu {
    display: flex;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar .navPages  {
    display: none;
  }

  #navName {
    text-align: center;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  #navbar .navOpts  {
    display: none;
  }

  #footbar {
    flex-direction: column;
    font-size: 18px;
    gap: 1rem;
  }

  #footbar > * {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: var(--c-sidelines);

    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--c-sidelines);

    border-left: 0px;
    border-right: 0px;
  }

  #footbar img {
    top: 0px;
  }
}