* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  text-wrap-mode: nowrap;
}

:root {
  --g-width: 100%;
  --g-side-separation: 8%;
  --g-iconsize: 32px;
  
  --c-barsColor: #bfbfbf6a;
  --c-sidelines: #a0a0a06a;
}

body {
  min-height: 100dvh;

  background-image: url("/PMD-Brisella/img/fondo\ blanco\ brisella.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  z-index: 0;
  font-family: 'Lora', serif;
}

header {
  max-width: var(--g-width);
  width: 100%;
  padding: 0 var(--g-side-separation);
  margin: 0 auto;
  background-color: var(--c-barsColor);
  box-shadow: 10px 0px 10px var(--c-barsColor);
  z-index: 1;
}

main {
  max-width: var(--content-width);
  width: 100%;
  /* background-color: red; */
  margin: 0 auto;
  padding: 0 var(--g-side-separation);
}

#navbar {
  height: 100%;
  display: inline-flex;
  align-self: center;
}

.mainBody {
  min-height: 100dvb;
  padding: 16px 10px;
}

#navbar #navName {
  align-self: center;
  padding: 16px 10px;
  font-size: 25px;
}

#navbar .navPages {
  display: flex;
  justify-content: center;
  padding: 0px 3rem;
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}

#navbar .navOpts {
  padding: 10px;
}

app-mainpage #mainBody {
  min-height: 46.4rem;
  padding: 20px;
}

app-mainpage img {
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

.navOpts a {
  display: inline-block;
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

.burgerMenu {
  padding: 20px;
  position: fixed;
  left: -220px;
  top: 0;
  height: 100%;

  padding-top: 61px;
  display: none;

  flex-direction: column;
  align-items: center;
  box-sizing: inherit;

  background-color: #bfbfbf;
  z-index: 2;

  transition: 0.4s;
}

.burgerMenu .navOpts {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.burgerMenu .navPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  gap: 2rem;
  margin-top: 10px;
  font-size: 20px;
}

.burgerIcon {
  cursor: pointer;
  padding: 15px;
  position:fixed;
  top: 10px;
  left: 15px;
  z-index: 3;
}

.burgerIcon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: 0.4s;
}

.burgerMenu.active {
  left: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burgerMenu.active .burgerIcon span:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* TODO: Responsive */

footer {
  max-width: var(--g-width);
  width: 100%;
  padding: 0 var(--g-side-separation);
  background-color: var(--c-barsColor);
  box-shadow: -10px 0px 10px var(--c-barsColor);
  z-index: 1;
}

#footbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#footbar > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0px 20px;
  padding: 0px 20px;
  gap: 1rem;

  border-right: 2px;
  border-right-style: solid;
  border-right-color: var(--c-sidelines);

  border-left: 2px;
  border-left-style: solid;
  border-left-color: var(--c-sidelines);
}

#footbar > *:nth-child(4) {
  border-style: none;
}

#footbar p {
  font-weight: bold;
}

#footbar img {
  position:absolute;
  display: flexbox;
  z-index: -10;
  bottom: -300px;
  right: 30px;
  width: 220px;
  height: 180px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.gold {
  color: gold;
}

@media screen and (max-width: 1045px) {
  .burgerMenu {
    display: flex;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar .navPages  {
    display: none;
  }

  #navName {
    text-align: center;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  #navbar .navOpts  {
    display: none;
  }
}