:root {
  --g-width: 100%;
  --g-side-separation: 0px;
  --g-iconsize: 32px;
  --g-easeTime: 0.1s;
  
  --c-barsColor: #e3aaaa;
  --c-undershadow: #c282bf56;
  --c-greishBeige: #b8b8b85e;
  --c-crimson: #ef536a;
  --c-velvelt: #f41d3d;
  --c-white: #FFFFFF;
  --c-black: #000000;
  --c-lightPink: #ffd3d3;
  --c-linkHover: #ffd7fc5f;
  --c-underline: #ffffff5f;
  --c-tooltip: #FFFFFF;
  color: #fbcf70;
}

* {
  box-sizing: border-box;
  color: var(--c-black);
  text-decoration: none;
  text-wrap-mode: nowrap;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.centerd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTextArea {
  background-color: var(--c-greishBeige);
  z-index: -1;
  width: 100%;
}

body {
  background-image: url("/PMD-Brisella/img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  font-family: 'Lora', serif;
}

header {
  max-width: var(--g-width);
  width: 100%;
  padding: 0 var(--g-side-separation);
  background-color: var(--c-barsColor);
  box-shadow: inset 20px 50px 1000px var(--c-undershadow);
  z-index: 1;
  display: block;
  position:fixed;
  top: 0px;
}

main {
  min-height: 1000px;
  max-width: var(--content-width);
  width: 100%;
  /* background-color: red; */
  padding: 0 var(--g-side-separation);
  overflow: hidden;
}

section {
  display: flex;
  font-size: 16px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#navbar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 50px;
}

.mainBody {
  min-height: 1000px;
  padding: 10px 50px;
  padding-top: 0px;
  z-index: -1000;
}

#navbar #navName {
  padding: 16px 10px;
  font-size: 25px;
  z-index: 101;
  width:fit-content;
}

#navbar #navName a{
  color: var(--c-white);
  letter-spacing: 5px;
  padding: 10px;
}

#navbar .navPages {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  font-size: 20px;
  width: 100%;
}

#navbar .navPages a {
  color: var(--c-white);
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  letter-spacing: 2px;
  transition: var(--g-easeTime) ease-in-out;
}

#navbar .navPages a:hover {
  color: var(--c-crimson);
}

#navbar .navPages a:nth-child(3) {
  color: var(--c-lightPink);
}

#navbar .navPages a:nth-child(3):hover {
  color: var(--c-crimson);
}

#navbar .navOpts {
  padding: 10px;
}

#navbar img {
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

#navbar .navOpts a {
  display: inline-block;
  width: var(--g-iconsize);
  height: var(--g-iconsize);
  transition: var(--g-easeTime) ease-in-out;
}

#navbar .navOpts a:hover {
  background-color: var(--c-linkHover);
}

.burgerMenu {
  padding: 64px 8px;
  position: fixed;
  left: -226px;
  top: 0px;
  height: 100%;

  display: none;

  flex-direction: column;
  align-items: center;
  box-sizing: inherit;

  background-color: var(--c-barsColor);
  box-shadow: inset 20px -50px 1000px var(--c-undershadow);
  z-index: 100;

  transition: 0.4s;
}

.burgerMenu .navOpts {
  display: flex;
  justify-content: center;
  width: 100%;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--c-underline);
}

.burgerMenu .navOpts a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  transition: var(--g-easeTime) ease-in-out;
}

.burgerMenu .navOpts a:hover {
  background-color: var(--c-linkHover);
}

.burgerMenu img {
  width: var(--g-iconsize);
  height: var(--g-iconsize);
}

.burgerMenu .navPages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  font-size: 20px;
}

.burgerMenu .navPages a {
  color: var(--c-white);
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  transition: var(--g-easeTime) ease-in-out;
}

.burgerMenu .navPages a:hover {
  background-color: var(--c-linkHover);
}

.burgerIcon {
  cursor: pointer;
  padding: 8px;
  margin: 0px;
  position:fixed;
  top: 12px;
  left: 17px;
  z-index: 3;

  border-radius: 3px;
  cursor: pointer;
  pointer-events: all;
}

.burgerIcon span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--c-white);
  margin: 5px 0;
  transition: 0.4s;
}

.burgerMenu.active {
  left: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burgerMenu.active .burgerIcon span:nth-child(2) {
  opacity: 0;
}

.burgerMenu.active .burgerIcon span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.tbubble {
  background: var(--c-tooltip);
  color: var(--c-black);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
}

footer {
  max-width: var(--g-width);
  width: 100%;
  padding: 0 var(--g-side-separation);
  background-color: var(--c-barsColor);
  box-shadow: inset 20px -50px 1000px var(--c-undershadow);
  z-index: 1;
}

#footbar {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.section  {
  display: flex;
  flex-direction: column;
  width: 256px;
  margin: 0px 0.5%;
  padding: 10px;
  gap: 1rem;

  border-left: 1px var(--c-underline) solid;
  border-right: 1px var(--c-underline) solid;

  border-top: 0px;
  border-bottom: 0px;
}

#footbar p {
  color: var(--c-white);
  font-weight: bold;
  width: 100%;
  padding: 0px 10px;
  padding-bottom: 5px;
  border-bottom: 1px var(--c-underline) solid;
}

#footbar > img {
  z-index: 5;
  width: 150px;
  height: 150px;
  border: 0;
  margin-left: 5rem;
  margin-top: 5rem;
}

.section a {
  display: flex;
  color: var(--c-white);
  text-align: left;
  transition: var(--g-easeTime) ease-in-out;
  padding: 0px 10px;
}

.section:nth-child(3) .inline {
  display: inline-flex;
  align-self: center;
}

.section:nth-child(3) p {
  display: flex;
  text-align: left;
}

.section:nth-child(3) .inline a {
  display: flex;
  padding: 0px;
  width: 48px;
  height: 48px;
}

.section:nth-child(3) .inline a img{
  width: 32px;
  height: 32px;
  margin: 8px 8px;
}

.section:nth-child(3) .inline a:hover{
  background-color: var(--c-linkHover);
}

.section a:hover {
  color: var(--c-crimson);
}

.white {
  color: var(--c-white);
  text-shadow: 0px 0px 1.5px;
}

.black {
  color: var(--c-black);
  text-shadow: 0px 0px 1.5px;
}

.velvet {
  color: var(--c-velvelt);
  text-shadow: 0px 0px 1.5px;
}

.rouge {
  color: var(--c-white);
  text-shadow: 0px 0px 1.5px;
}

app-loading {
  width: 100%;
  height: 100%;
  background-color: var(--c-barsColor, #ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

#loadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid #f0b0b0;   
  border-top: 4px solid #f16666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 960px) {
  .burgerMenu {
    display: flex;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar .navPages  {
    display: none;
  }

  #navName {
    text-align: center;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  #navbar .navOpts  {
    display: none;
  }

  #footbar {
    flex-direction: column;
    font-size: 18px;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  #footbar > img{
    margin-left: 0rem;
    margin-top: 3rem;
  }

  #footbar > * {
    border-top: 1px var(--c-underline) solid;
    border-bottom: 1px var(--c-underline) solid;
    border-left: 0px;
    border-right: 0px;
  }

  .section > *{
    text-align: center;
    justify-content: center;
  }
}