:root {
  --g-width: 100%;
  --g-side-separation: 0px;
  --g-iconsize: 32px;
  --g-easeTime: 0.1s;
  --s-miniImageSize: 256px;
  --s-megaImageSize: 360px;
  
  --c-barsColor: #e3aaaa;
  --c-undershadow: #c282bf56;
  --c-sidelines: #e6e6e6c9;
  --c-crimson: #ef536a;
  --c-velvelt: #f41d3d;
  --c-white: #FFFFFF;
  --c-black: #000000;
  --c-lightPink: #ffd3d3;
  --c-linkHover: #ffd7fc5f;
}

/* list mode */
app-productos[type='list'] {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-size: inherit;
}

app-productos[type='list'] app-producto {
  display: block;
  background-color: rgba(236, 236, 236, 0.9);
  box-shadow: inset 50px 30px 80px #e8ebeb;
  border-radius: 4px;
  border-color: #ffffff;
  padding: 50px 10px;
  transition: 0.3s ease-in-out;
}

app-productos[type='list'] app-producto:hover {
  scale: 1.02;
}


app-productos[type='list'] app-producto h1 {
  display: none;
}

app-productos[type='list'] app-producto h2 {
  display: none;
}

app-productos[type='list'] app-producto p {
  display: none;
}

app-productos[type='list'] app-producto img {
  display: block;
  width: var(--s-miniImageSize);
  height: var(--s-miniImageSize);
}

app-productos[type='list'] app-producto button {
  display: inline-flex;
}

app-productos[type='list'] app-producto button img {
  display: inline-flex;
  width: 28px;
  height: 28px;
  margin: 2px;
}

app-productos[type='list'] app-colorwheel {
  display: none;
}

app-productos[type='list'] #fragrancias {
  display: none;
}

app-productos[type='list'] #compras {
  display: flex;
  float: right;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: var(--s-miniImageSize);
}

app-productos[type='list'] #compras button {
  display: inline-flex;
  padding: 5px;
  background-color: #e8ebeb;
  border: 2px;
  border-style: solid;
  border-color: #e8ebeb;
  transition: 0.3s ease-in-out;
}

app-productos[type='list'] #compras button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

app-productos[type='list'] #compras button:first-child {
  background-color: black;
  border: 2px;
  border-style: solid;
  border-color: black;
  justify-content: center;
  align-items: center;
}

app-productos[type='list'] #compras button:first-child:hover {
  background-color: rgb(80, 80, 80);
  border-color: rgb(80, 80, 80);
}

app-productos[type='list'] #compras p {
  display: inline-flex;
  padding-right: 54px;
  color: rgb(243, 243, 243);
  float: left;
}

/* page mode */

app-productos[type='page'] {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

app-productos[type='page'] app-producto {
  background-color: rgb(236, 236, 236);
  padding: 10px;
  display: grid;
}

app-productos[type='page'] app-producto h1 {
  padding: 10px;
  font-size: 45px;
}

app-productos[type='page'] app-producto h2 {
  padding: 10px;
  font-size: 30px;
}

app-productos[type='page'] app-producto .paragraph {
  text-wrap-mode: wrap;
  padding: 10px;
  max-height: 91px;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;

  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #a0a0a06a;

  transition: max-height 0.3s ease-in;
}

app-productos[type='page'] app-producto .paragraph.expanded {
  max-height: 380px;
}

app-productos[type='page'] app-producto img {
  display: flex;
  width: var(--s-megaImageSize)
}

app-productos[type='page'] app-producto button {
  display: inline-flex;
  background-color: #e8ebeb;
  border: 1px;
  border-color: #9ea3a3ba;
  border-style: solid;
  padding: 10px;
}

app-productos[type='page'] app-producto button img {
  display: inline-flex;
  width: 28px;
  height: 28px;
}

app-productos[type='page'] #fragrancias {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
}

app-productos[type='page'] #fragrancias button{
  display: flex;
  padding: 5px 20px;
  background-color: #e8e8e7;
  transition: 0.3s ease-in-out;
}

app-productos[type='page'] #fragrancias button:hover{
  display: flex;
  background-color: white;
}

app-productos[type='page'] #compras {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  margin: auto;
}

app-productos[type='page'] #compras button{
  display: inline-flex;
  gap: 10rem;
  background-color: #e8e8e7;
  transition: 0.3s ease-in-out;
}

app-productos[type='page'] #compras button:hover{
  display: inline-flex;
  gap: 10rem;
  background-color: white;
}


app-productos[type='page'] #compras button:first-child{
  background-color: #000000;
}
app-productos[type='page'] #compras button:first-child:hover{
  background-color: #494949;
}

app-productos[type='page'] #compras button:first-child p{
  color: white;
}

app-productos[type='page'] #compras p{
  display: flex;
  justify-content: center;
  align-items: center;
}

app-productos[type='page'] app-colorwheel {
  display: flex;
}


/* responsive */
@media screen and (max-width: 960px) {
  app-productos[type='page'] app-producto>img {
    display: flex;
    justify-self: center;
    width: 70%;
  }
}